<h2>Sign up</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field">
    <%= f.label :name, autofocus: true %><br>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :kana %><br>
    <%= f.text_field :kana %>
  </div>

  <div class="field">
    <%= f.label "署名" %><br>
    <%= f.text_area :sign %>
  </div>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autocomplete: "email" %>
  </div>
  
  <div class="field">
    <%= f.label "入社年度" %><br />
    <%= f.number_field :grade, value: Time.now.year %>
  </div>

  <div class="field">
    <%= f.label "所属" %><br />
    <%= f.text_field :affiliation %>
  </div>

  <div class="field">
    <%= f.label "今までに何通送りましたか？" %><br />
    <%= f.number_field :vol %>通
  </div>

  <div>
    <%= f.label "一人称" %><br>
    <%= f.collection_select :first_person_id, FirstPerson.where(is_base: false), :id, :name, include_blank: "選択して下さい" %>
  </div>

  <div class="field">
    <%= f.label :password %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "new-password" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
  </div>
  
  <div>
    <%= f.label "Zohoとユーザーデータを関連づけます。" %>
    <%= f.check_box :is_shareable_zoho, checked: true %>
    <p>
      当サイトでは、より便利でスムーズなサービスを提供するために、Zohoと連携しています。この連携により、以下の情報を安全に管理し、サービスの利便性を向上させることができます。<br><br>
      ・ユーザ名<br>
      ・メールアドレス<br>
      ・その他必要な情報<br>
      ユーザ情報は厳重に管理され、第三者に提供されることはありませんので、安心してご利用ください。<br><br>
      ご不明点やご質問がありましたら、お気軽に右下のチャットまでお問い合わせください。
    </p>
  </div>

  <div class="actions">
    <%= f.submit "Sign up" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>

<script>
  $.fn.autoKana('#user_name', '#user_kana', {katakana: true});
</script>