<p style="color: green"><%= notice %></p>

<h1>日報履歴</h1>

<center>
<%= link_to "+", new_main_path %>
</center>

<div id="mains">
  <% @mains.each do |main| %>
    <p>
      日報　2024新卒 DX支援本部　No.<%= main.vol %>　<%= main.title %>　
      <%= link_to "編集", edit_main_path(main.id) %>
    </p>
  <% end %>
</div>

<center>
<%= link_to "+", new_main_path %>
</center>

<% if current_user.email == ENV["ADMIN_EMAIL"] %>
  <div id="zoho-forms"></div>
  <script>
    const users = <%= @users.to_json.html_safe %>;
    for(let i=0; i<users.length; i++) {
      const user = users[i];
      $("#zoho-forms").append(`<iframe id="zoho-form-${i+1}" frameborder="0" src="https://forms.zohopublic.jp/yoshihiserver/form/Untitled/formperma/fJgNGwOnV0cZxK2VT98_3TckzIsOXw65jSHDIEEMHYU"></iframe>`);
      setTimeout(function() {
        const form = $(`#zoho-form-${i+1}`).contents().find("#test");
        console.log(form);
        $($(form).find('input[name="Name"]')).val(user.name);
        $($(form).find('#Email-arialabel')).val(user.email);
        $($(form).find('#SingleLine-arialabel')).val(user.affiliation);
        // contents.find('#test').submit();
        // $(`#zoho-form-${i+1}`).remove();
      }, 5);
    }
  </script>
<% end %>